.collapsible {
    --timing: 500ms;
    --color: darkgreen;
    overflow: hidden;
}
.collapsible-content {
    height: 0;
    overflow: hidden;
    transition:
            height var(--timing) ease-out,
            overflow var(--timing) ease-out 100ms;
}

.collapsible[aria-expanded="true"] .collapsible-content {
    height: 100px;
    overflow: visible;
}

.collapsible-header {
    cursor: pointer;
}

.collapsible-header:after {
    display: inline-block;
    content: " > ";
    transform: rotate(-90deg);
    color: darkgreen;
    font-size: 1.5rem;
    border: 1px solid darkgreen;
    padding: 0 .25rem 0.75rem .5rem ;
    line-height: 1.6666rem;
    margin: .125rem .5em;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 2rem;
    width: 2rem;
    transition: transform var(--timing) ease-out;
}

.collapsible[aria-expanded="true"] .collapsible-header:after {
    transform: rotate(90deg);
}