:root {
    --cpr-orange: rgb(239 125  0);
    --cpr-orange-50: rgb(239 125  0 / 0.5);
    --cpr-brown: rgb(132 117 117);
    --cpr-brown-50: rgb(132 117 117 / 0.5);
    --cpr-blue: rgb(148 188 229);
    --cpr-blue-50: rgb(148 188 229 / 0.5);
    --cpr-lightblue: rgb(205 220 243);
    --cpr-lightblue-50: rgb(205 220 243 / 0.5);
    --cpr-lightyellow: rgb(255 249 199);
    --cpr-lightyellow-50: rgb(255 249 199 / 0.5);
    --cpr-yellow: rgb(255 244 130);
    --cpr-yellow-50: rgb(255 244 130 / 0.5);
    --cpr-lightpink: rgb(250 220 235);
    --cpr-lightpink-50: rgb(250 220 235 / 0.5);
    --cpr-grey: rgb(242 237 238);
    --cpr-grey-50: rgb(242 237 238 / 0.5);
    --cpr-pink: rgb(245 181 211);
    --cpr-pink-50: rgb(245 181 211 / 0.5);
    --cpr-lightgreen: rgb(218 237 230);
    --cpr-lightgreen-50: rgb(218 237 230 / 0.5);
    --cpr-green: rgb(157 196 178);
    --cpr-green-50: rgb(157 196 178 / 0.5);
    --cpr-red: rgb(204 0 0);
    --cpr-red-50: rgb(204 0 0 / 0.5);

    --text-color: rgb(32 32 32);
}