:root {
    --c-dark: rgb(1 22 30);
    --c-dark-25: rgb(1 22 30 / 0.25);
    --c-dark-50: rgb(1 22 30 / 0.5);
    --c-dark-75: rgb(1 22 30 / 0.75);

    --c-green: rgb(21 113 69);
    --c-green-25: rgb(21 113 69 / 0.25);
    --c-green-50: rgb(21 113 69 / 0.5);
    --c-green-75: rgb(21 113 69 / 0.75);

    --c-grey: rgb(237 230 227);
    --c-grey-25: rgb(237 230 227 / 0.25);
    --c-grey-50: rgb(237 230 227 / 0.5);
    --c-grey-75: rgb(237 230 227 / 0.75);

    --c-red: rgb(164 6 6);
    --c-red-25: rgb(164 6 6 / 0.25);
    --c-red-50: rgb(164 6 6 / 0.5);
    --c-red-75: rgb(164 6 6 / 0.75);

    --c-blue: rgb(198 221 240);
    --c-blue-25: rgb(198 221 240 / 0.25);
    --c-blue-50: rgb(198 221 240 / 0.5);
    --c-blue-75: rgb(198 221 240 / 0.75);
}